<section>
  <div class="card book" style="width: 30rem">
    <img
      class="card-img-top"
      src="https://assets.aboutamazon.com/dims4/default/71b222e/2147483647/strip/true/crop/2000x1074+0+130/resize/1440x773!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F56%2F01%2F834aa61747c19ef723f0b48ec134%2F20180517nealthompsonauthor-js-11.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h3 class="card-title">{{ selectedAuthorContent.name }}</h3>
      <p class="card-text">
        {{ selectedAuthorContent.description }}
      </p>
      <p class="card-text item">
        {{ "Age : " + selectedAuthorContent.age }}
      </p>
    </div>
  </div>
</section>
