<div class="content">
  <h1>📚</h1>
  <h2>Welcome the final WEB-TP</h2>
  <p>
    This is a MEAN Stack application using Bootstrap to create and manage books
    with their authors
  </p>
  <nav>
    <a routerLink="/books">Books</a>
    <a routerLink="/authors">Authors</a>
  </nav>
  <div class="stats">
    <h4>Statistics</h4>
    <div class="stats_body">
      <div class="stats_body-item">
        <p>📕</p>
        <p>{{ Stats.books }}</p>
      </div>
      <div class="stats_body-item">
        <p>✍️</p>
        <p>{{ Stats.authors }}</p>
      </div>
    </div>
  </div>
</div>
